# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp.*

# Build files
dist/
build/
out/
bundle-*

# Dependency folders
node_modules/
jspm_packages/

# TypeScript files
*.tsbuildinfo
*.ts ~
*.js.map

# Test files
__tests__/
test/
tests/
*.test.*
*.spec.*

# IDE files
.vscode/
.idea/

# Other
*.bak
*.swp
*~
.DS_Store
Thumbs.db
